

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fafafa;
  color: #333333;
}

header {
  background-color: #ffffff;
  padding: 10px;
  color: #fff;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

p {
  margin-bottom: 15px;
}

footer {
  background-color: #092e7e;
  padding: 10px;
  color: #fff;
  text-align: center;
}

/* Estilos específicos para la página de servicios */
section ul {
  list-style-type: none;
}

section ul li {
  margin-bottom: 20px;
}

/* Estilos adicionales para resaltar los servicios */
section ul li h2 {
  color: #333;
  font-size: 22px;
  margin-bottom: 10px;
}

section ul li p {
  color: #666;
  font-size: 16px;
}

/* Media queries para hacer la página responsive en dispositivos móviles */
@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}
